In [46]:
import pandas as pd
import numpy as np
from icecream import ic

In [47]:
PATH = "../../../Documents/ClassDocs/cee240Docs/p6/CEE240F22_Nov18.xlsx"

In [48]:
# import most recent excel files
# get all before march
# get all during march 
# find percentages

# import data

In [49]:
df = pd.read_excel(PATH, sheet_name=0, engine="openpyxl", skiprows=[1] )
# rename columns to be easier to access
df.rename(columns={"target_drtn_hr_cnt": "duration", "total_float_hr_cnt": "float"}, inplace=True)

df.drop([
 'status_code',
 'wbs_id', 
 'delete_record_flag'], 
 axis=1, inplace=True)
df = df[['start_date', 'end_date', 'task_name', 'duration', 'float', 'task_code']]

df.head(3)

/Users/julietnwagwuume-ezeoke/ClassCode/CEE240local/cee240env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,start_date,end_date,task_name,duration,float,task_code
0,2022-09-01 08:00:00,NaT,NTP,0,0,P1B1000
1,2022-09-01 08:00:00,2022-09-01 16:00:00,submit shut down request for facilities,1,0,P1B1010
2,2022-09-02 08:00:00,2022-09-05 16:00:00,"demo ceilings GL 6.5, M.4",2,310,P1B1020

## make appropriate dfs

In [50]:
mar23_start = pd.to_datetime("2023/03/01")
mar23_end = pd.to_datetime("2023/04/01")

In [51]:
df_mar_start = df[df["end_date"] < mar23_start].reset_index(drop=True)
df_mar_start

,start_date,end_date,task_name,duration,float,task_code
0,2022-09-01 08:00:00,2022-09-01 16:00:00,submit shut down request for facilities,1,0,P1B1010
1,2022-09-02 08:00:00,2022-09-05 16:00:00,"demo ceilings GL 6.5, M.4",2,310,P1B1020
2,2022-09-15 08:00:00,2022-09-19 16:00:00,"erect temp barrier, GL 6.5, M.4",3,0,P1B1030
3,2022-09-20 08:00:00,2022-09-22 16:00:00,demo exterior walls GL 5.7 M,3,0,P1B1040
4,2022-09-23 08:00:00,2022-09-27 16:00:00,demo interior walls GL 5.7 - 7.1 M.4,3,0,P1B1050
...,...,...,...,...,...,...
90,2023-01-13 08:00:00,2023-01-18 16:00:00,"install cieling finsihes 1L, Sector A",4,210,P2A1L1130
91,2023-01-19 08:00:00,2023-01-23 16:00:00,"testing and commissioning 1L, Sector A",3,210,P2A1L1140
92,NaT,2023-02-01 08:00:00,Staff Relocation (A_L1),0,0,M1010
93,2022-11-22 08:00:00,2022-11-28 16:00:00,Begin MEPF Start Up,5,250,M2030
94,2022-12-07 08:00:00,2022-12-07 08:00:00,"wait until New Main Connector occupancy 1L, Se...",0,244,P2A1L1000

In [52]:
df_mar_end = df[(df["end_date"] >= mar23_start) &  (df["end_date"] < mar23_end)].reset_index(drop=True)
df_mar_end

,start_date,end_date,task_name,duration,float,task_code
0,2023-02-27 08:00:00,2023-03-02 16:00:00,"erect columns 2L, Sector B",4,0,P1B1440
1,2023-03-03 08:00:00,2023-03-08 16:00:00,"erect steel deck 3L, Sector B",4,0,P1B1450
2,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall GL, Sector B",14,3,P1B1460
3,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall 1L, Sector B",14,0,P1B1470
4,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall 2L, Sector B",14,3,P1B1480
5,2023-03-29 08:00:00,2023-03-31 16:00:00,"erect temp barrier, west of new main connector...",3,3,P1B1490
6,2023-03-29 08:00:00,2023-03-31 16:00:00,"erect temp barrier, west of new main connector...",3,0,P1B1500

# find percentages

In [54]:
# list(df["task_name"])

In [9]:
# also enter general requirements, temporary construction, and indirect cost of work

## import work descriptions

In [10]:
from cost_categories import cd

In [22]:
cid = {} # category index dict
for k,v in cd.items():
    # iterate over list in v, find all rows in dataframe that match...
    arr = []
    if type(v) != int:
        for i in v:
            v_ix = list(df.loc[df["task_name"].str.contains(i)].index)
            arr.extend(v_ix)
        cid[k] = list(arr)
    else:
        cid[k] = []

In [23]:
# determine total durations 
cid["BP 1A Structural Concrete"]

[38, 43, 24]

In [63]:
df.iloc[cid["BP 1A Structural Concrete"]]["duration"].sum()

20

In [66]:
pd.merge(df.iloc[cid["BP 1A Structural Concrete"]], df_mar_start, on=['task_code'], how='inner')["duration_x"].sum()

20

In [65]:
pd.merge(df.iloc[cid["BP 1A Structural Concrete"]], df_mar_end, on=['task_code'], how='inner')["duration_x"].sum()

0

In [57]:
df_mar_start.iloc[df_mar_start["task_code"] == df.iloc[cid["BP 1A Structural Concrete"]].task_code]

ValueError: Can only compare identically-labeled Series objects