In [1]:
import pandas as pd
import numpy as np
from icecream import ic

In [4]:
PATH = "../../../Documents/ClassDocs/cee240Docs/p6/CEE240F22_Nov18.xlsx"

In [ ]:
# import most recent excel files
# get all before feb
# get all before march 
# find percentages

In [31]:
df = pd.read_excel(PATH, sheet_name=0, engine="openpyxl", skiprows=[1] )
# rename columns to be easier to access
df.rename(columns={"target_drtn_hr_cnt": "duration", "total_float_hr_cnt": "float"}, inplace=True)

df.drop(['task_code',
 'status_code',
 'wbs_id', 
 'delete_record_flag'], 
 axis=1, inplace=True)
df = df[['start_date', 'end_date', 'task_name', 'duration', 'float' ]]

df.head(3)

/Users/julietnwagwuume-ezeoke/ClassCode/CEE240local/cee240env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,start_date,end_date,task_name,duration,float
0,2022-09-01 08:00:00,NaT,NTP,0,0
1,2022-09-01 08:00:00,2022-09-01 16:00:00,submit shut down request for facilities,1,0
2,2022-09-02 08:00:00,2022-09-05 16:00:00,"demo ceilings GL 6.5, M.4",2,310

In [12]:
len(df)

192

In [32]:
mar23_start = pd.to_datetime("2023/03/01")
mar23_end = pd.to_datetime("2023/04/01")

In [36]:
df_mar_start = df[df["end_date"] < mar23_start].reindex(copy=False)
df_mar_start

,start_date,end_date,task_name,duration,float
1,2022-09-01 08:00:00,2022-09-01 16:00:00,submit shut down request for facilities,1,0
2,2022-09-02 08:00:00,2022-09-05 16:00:00,"demo ceilings GL 6.5, M.4",2,310
3,2022-09-15 08:00:00,2022-09-19 16:00:00,"erect temp barrier, GL 6.5, M.4",3,0
4,2022-09-20 08:00:00,2022-09-22 16:00:00,demo exterior walls GL 5.7 M,3,0
5,2022-09-23 08:00:00,2022-09-27 16:00:00,demo interior walls GL 5.7 - 7.1 M.4,3,0
...,...,...,...,...,...
173,2023-01-13 08:00:00,2023-01-18 16:00:00,"install cieling finsihes 1L, Sector A",4,210
174,2023-01-19 08:00:00,2023-01-23 16:00:00,"testing and commissioning 1L, Sector A",3,210
184,NaT,2023-02-01 08:00:00,Staff Relocation (A_L1),0,0
190,2022-11-22 08:00:00,2022-11-28 16:00:00,Begin MEPF Start Up,5,250
191,2022-12-07 08:00:00,2022-12-07 08:00:00,"wait until New Main Connector occupancy 1L, Se...",0,244

In [37]:
df_mar_end = df[(df["end_date"] >= mar23_start) &  (df["end_date"] < mar23_end)].reindex(copy=False)
df_mar_end

,start_date,end_date,task_name,duration,float
44,2023-02-27 08:00:00,2023-03-02 16:00:00,"erect columns 2L, Sector B",4,0
45,2023-03-03 08:00:00,2023-03-08 16:00:00,"erect steel deck 3L, Sector B",4,0
46,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall GL, Sector B",14,3
47,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall 1L, Sector B",14,0
48,2023-03-09 08:00:00,2023-03-28 16:00:00,"curtain wall 2L, Sector B",14,3
49,2023-03-29 08:00:00,2023-03-31 16:00:00,"erect temp barrier, west of new main connector...",3,3
50,2023-03-29 08:00:00,2023-03-31 16:00:00,"erect temp barrier, west of new main connector...",3,0